body { 
  padding: 0; 
  margin: 0; 
  font-family: 'Tahoma';
  background-color: lightgray;
}

hr {
  border: 0.3px solid lightgray;
}

h3 {
  margin-left: 10px;
}


.title-page {
  background-color: rgb(15, 51, 51);
  color: white;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
}

.card {
  width: 90%;
  height: auto;
  background-color: white;
  box-shadow: 1px 2px gray;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

.table-artistas {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

td, th {
  text-align: left;
}

.img-artista {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin: 10px;
}

.botao-rede-social {
  background-color: rgb(57, 57, 167);
  font-weight: bold;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0;
}

.botao-rede-social :hover {
  text-decoration: underline;
}